* {
    box-sizing: border-box;
    /* padding: 2px; */
    margin: 0;
    /* border: 1px solid green; */
}

html {
    font-size: 1em;
    min-width: 360px;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 20px;
    min-width: 320px;
}

h1 {
    padding: 20px;
}

h2 {
    padding: 12px;
    background-color: rgba(0, 0, 0, 0.76);
    color: #fff;
}

p {
    padding: 10px;
}

.card {
    font-size: 4.2em;
    line-height: 100%;
}

.red {
    color: darkred;
}

.black {
    color: black;
}

.game-area {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.player {
    min-width: 300px;
    width: 100%;
    padding: 0;
    background-color: rgba(205, 235, 205, 0.626);
    border-radius: 20px;
    overflow: hidden;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding-top: 20px;
}

button{
    padding: 10px;
    margin: 20px;
    min-width: 200px;
}
p.result{
    background-color: lightblue;
    margin: 10px 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.76);
}
p.rank{
    margin: 10px;
    background-color: lightskyblue;
}

@media (min-width:460px) {
    .card{
        font-size: 6em;
    }
}

@media (min-width:620px) {
    .card{
        font-size: 9em;
    }
}
@media (min-width:800px) {
    .game-area {
        flex-direction: row;
    }
    .card{
        font-size: 6em;
    }
    button{
        min-width: 300px;
    }
}
@media (min-width:1100px) {
    html{
        font-size: 1.5em;
    }
    .card{
        font-size:6em;
    }
}
