*{
    box-sizing: border-box;
    padding: 2px;
    margin: 0;
    border: 1px solid green;
}

html{
    font-size: 1em;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 20px;
    min-width: 320px;
}

h1{
    padding: 20px;
}
h2{
    padding: 12px;
}

p{
    padding: 10px;
}

.card {
    font-size: 3.5em;
    line-height: 100%;
    padding: 0 5px;
}
.red{
    color: darkred;
}
.black{
    color: black;
}

.game-area{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.player{
    min-width: 300px;
    width: 100%;
    /* padding: 20px; */
    /* border: 2px solid green; */
}

.cards{
    display: flex;
    justify-content: center;
}

@media (min-width:1050px) {
    .game-area{
        flex-direction: row;
    }
}
@media (min-width:560px) {
    /* .card{
        font-size: 6em;
    } */
}

@media (min-width:600px) {
    /* .card{
        font-size: 8em;
    } */
}