
  @import url('https://fonts.googleapis.com/css2?family=Contrail+One&display=swap');

* {
    box-sizing: border-box;
    /* padding: 0; */
    /* margin: 0; */
    /* border: 1px solid green; */
}

html {
    font-size: 1em;
    min-width: 360px;
}

body {
    font-family: 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 0;
}

h1 {
    padding: 20px;
    margin: 5px 0;
    background-color: rgba(255, 255, 0, 0.562);
    font-family: 'Contrail One', cursive;
    font-size: 2.5em;
}

.player h2 {
    padding: 12px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.76);
    color: #fff;
}

p {
    padding: 10px 0;
}

.card {
    font-size: 5.2em;
    line-height: 100%;
    box-shadow: 2px 2px 8px grey;
    background-color: #fff;
    border-radius: 2px;
}

.card:active {
    box-shadow: 0px 0px 5px grey;
}

.red.card {
    color: darkred;
}

.black.card {
    color: black;
}

.game-area {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.player {
    min-width: 300px;
    width: 100%;
    padding: 0;
    background-color: rgba(235, 235, 205, 0.626);
    border-radius: 10px;
    overflow: hidden;
}

.winner>h2, .winner>p.rank{
    background-color: green;
}
.loser>h2, .loser>p.rank{
    background-color: darkred;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding-top: 20px;
}

button {
    padding: 10px;
    margin: 20px;
    min-width: 200px;
    font-size: 1em;
    background-color: rgb(0, 51, 128);
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover{
    background-color: blue;
    box-shadow: 5px 5px 5px grey;
}
button:active{
    box-shadow: 2px 2px 0px grey;
    background-color: rgb(0, 0, 161);
}

p.result {
    background-color: lightblue;
    margin: 10px 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.76);
}

p.rank {
    margin: 0px;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.76);
    color: #fff;
}

div.rules {
    text-align: left;
    background-color: rgba(135, 206, 250, 0.384);
    padding: 20px;
    border-radius: 5px;
    font-size: .7em;
}

/* .deck{
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    gap: 5px;
    margin: 40px 0;
    padding: 20px;
    background-color: lightblue;
    font-size: .5em;
} */

@media (min-width:412px) {
    .card {
        font-size: 6em;
    }
}

@media (min-width:768px) {
    .game-area {
        flex-direction: row;
    }

    .card {
        font-size: 6em;
    }

    button {
        min-width: 300px;
    }
}

@media (min-width:1024px) {
    html {
        font-size: 1.5em;
    }
    .card {
        font-size: 5.2em;
    }
}
@media (min-width:1280px) {
    html {
        font-size: 2em;
    }
}